{:profiles
 {:Default {:default true
    :alone   80 ; hold for .. ms to register single tap
    :held    50 ; TODO: not sure what it's for
    :delay   0 ; time after which the key press is delayed
    :sim     30}} ; keys need to be pressed within this threshold to be considered simultaneous

  :simlayers {
              :a-mode {:key :a}
              :o-mode {:key :s}
              }
  :main [
         {:des "o-mode (option)" 
          :rules [ :o-mode
                  [:comma :!Tcomma]
                  [:j :!Oj]
                  [:k :!Ok]
                  [:l :!Ol]
                  [:semicolon :!Osemicolon]
                  ]}
         {:des "a-mode (ctrl)" 
          :rules [ :a-mode
                  [:comma :!Tcomma]
                  [:y :!Ty]
                  [:n :!Tn]
                  [:u :!Tu]
                  [:d :!Td]
                  [:p :!Tp]
                  [:o :!To]
                  [:l :!Tl]
                  [:i :!Ti]
                  [:s :!Ts]
                  [:r :!Tr]
                  ]}
         {:des "right command to control" 
          :rules [
                  [:caps_lock :left_control]
                  [:right_command :left_control]
                  ]}
       ]
}

